body.donate{
    background-image: url('../media/videos, gifs/gameboy.gif');
    backdrop-filter: brightness(20%);
    background-size: cover;
    height: 1500px;
}

.intro{
    background-image: url('../media/videos, gifs/speakerphone.gif');
    background-size: cover;
    display: block;
}

.introtext{
    padding-top: 150px;
    padding-bottom: 150px;
    height: 85%;
    backdrop-filter: brightness(20%);
}